/* Master Styles */

body {
    margin:0px;
    background-color: white;

}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* Font Style */

@font-face { font-family: sile; src: url(/Fonts/Sile.ttf);}


/* Nav Styles */

.nav-wrapper {
    display: flex;
    padding: 38px;
    background-color: orange;
    justify-content: space-evenly;

}

.logo {
    margin-right: -40px;
    margin-bottom: -200px;
    width: 8%;
}

.left-side {
    display: flex;

    font-size: 2em;
    font-family: sile;
    background-color: white;
    padding-right: 85px;
    padding-top:5px;

}
.center-side {
    position: absolute;
    justify-content: center;
    display: inline-flex;
    background-color: white;

}

.center-side a {

    margin-right: auto;
    margin-left:auto;
}

.nav-wrapper > .center-side > div {

    margin-right: 40px;
    font-size: 1.3em;
    font-family: sile;
    padding-top: 3px;
}

.active-nav-link {
    border-bottom: 1.5px solid orange;
}

.active-nav-link a {
    color: orange !important;
}

    /* text-transform: uppercase; */

}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.border-bottom {
    margin-bottom: -5px;
}

.nav-link-wrapper a { /* just grab the "a link" from nav wrapper */
    color:black;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover { /* bottom border turns black on hover */
    border-bottom: 1px solid orange;

}

.nav-link-wrapper a:hover { /* link turns black on hover */
    color: orange;
}


/* Other Styles */

img{
  width: 50%;
}
